
body{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#board, #board-info{
  width: 300px;
  margin: 30px auto;
  clear: both;
}
#board{
  height: 300px;
  border: 1px solid #ccc;
}

  #board ul{
    padding:0;
    margin:0;
    list-style: none;
  }

.cell-label{
  text-align:left;
  padding-left:50px;
  line-height:40px;
}

.cell{
  padding:0;
  margin:0;
  float: left;
  width: 98px;
  height: 98px;
  border: 1px solid #ccc;
  position: relative;
}

.cell.small{
  width: 40px;
  height: 40px;
  border: none;
}

  .cell:before, .cell:after{
    content: "";
    position: absolute;
    z-index: -1;
    background: #81E2EF;
  }



  /*
   * CROSS
   */
  .cell[cell-type=cross]:after, .cell[cell-type=cross]:before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .cell[cell-type=cross]:before {
    left: 50%;
    width: 12%;
    margin-left: -6%;
    height: 50%;
    top:25%;
  }
  .cell[cell-type=cross]:after {
    top: 50%;
    height: 12%;
    margin-top: -6%;
    width: 50%;
    left:25%;
  }


  /*
   * CIRCLE
   */
  .cell[cell-type=circle]:before{
    border-radius: 100%;
    background: #FD91CA;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
  }
  .cell[cell-type=circle]:after{
    border-radius: 100%;
    background: #fff;
    width: 26%;
    height: 26%;
    top: 37%;
    left: 37%;
  }
